:root {
  
--base-1: #FFFFFF;
--base-2: #F9FAFC;
--base-3: #E7E9F0;
--base-4: #D7DBE7;
--base-inverted-1: #545A70;
--base-inverted-2: #6D7285;
--primary: #4B71FC;
--dark-primary: #3D5CCE;
--active-primary: #2B4191;
--secondary: #545A70;
--dark-secondary: #363A48;
--active-secondary: #15161C;
--info: #4B71FC;
--light-info: #F0F1F4;
--success: #7ED321;
--light-success: #F8FDF4;
--danger: #FF3D44;
--dark-danger: #D03238;
--active-danger: #942227;
--light-danger: #FFF5F5;
--warning: #FFA721;
--light-warning: #FFFAF4;
--outline: #FFFFFF;
--dark-outline: #F0F1F4;
--active-outline: #E7E9F0;
--on-base-1: #212E5F;
--on-base-2: #7B83A1;
--on-base-inverted-1: #FFFFFF;
--on-base-inverted-2: #FFFFFF;
--on-primary: #FFFFFF;
--on-secondary: #FFFFFF;
--on-danger: #FFFFFF;
--on-success: #FFFFFF;
--on-outline: #212E5F;
--black: #000000;
--white: #ffffff;
--black-20: rgba(0,0,0,.20);
--black-40: rgba(0,0,0,.40);
--black-60: rgba(0,0,0,.60);
--black-80: rgba(0,0,0,.80);
--black-90: rgba(0,0,0,.90);
--white-20: rgba(255,255,255,.20);
--white-40: rgba(255,255,255,.40);
--white-60: rgba(255,255,255,.60);
--white-80: rgba(255,255,255,.80);
--white-90: rgba(255,255,255,.90);
--transparent: transparent;

}