:root {
  
--blue: #4B71FC;
--blue-80: #6F8DFD;
--blue-60: #93AAFD;
--blue-40: #B7C6FE;
--blue-20: #DBE3FE;
--navy: #545A70;
--navy-80: #767B8D;
--navy-60: #989CA9;
--navy-40: #BBBDC6;
--navy-20: #DDDEE2;
--green: #7ED321;
--green-light: #F8FDF4;
--yellow: #FFA721;
--yellow-light: #FFFAF4;
--red: #FF3D44;
--red-light: #FFF5F5;
--black: #000000;
--white: #ffffff;
--black-20: rgba(0,0,0,.20);
--black-40: rgba(0,0,0,.40);
--black-60: rgba(0,0,0,.60);
--black-80: rgba(0,0,0,.80);
--black-90: rgba(0,0,0,.90);
--white-20: rgba(255,255,255,.20);
--white-40: rgba(255,255,255,.40);
--white-60: rgba(255,255,255,.60);
--white-80: rgba(255,255,255,.80);
--white-90: rgba(255,255,255,.90);
--transparent: transparent;

}