:root {
  
--invisible-blue: #F3F4F9;
--ash-blue: #9FA6BF;
--go-blue: #4B71FC;
--deep-blue: #212E5F;
--deepest-blue: #07133E;
--near-black: #3d3e40;
--dark-gray: #565759;
--mid-gray: #6e7073;
--gray: #939699;
--silver: #c4c8cc;
--light-gray: #dce1e6;
--light-silver: #f0f5fa;
--near-white: #f5faff;
--white: #ffffff;
--blue: #368df7;
--heavy-blue: #2a6dbf;
--light-marine: #3d5980;
--marine: #25354d;
--serious-black: #142032;
--green: #00cca0;
--washed-green: #e6fff9;
--red: #ff8080;
--washed-red: #fff2f2;
--yellow: #ffb100;
--washed-yellow: #fffbf2;

}