
/*

  HEIGHTS
  Docs: http://tachyons.io/docs/layout/heights/

  Base:
    h = height
    min-h = min-height
    min-vh = min-height vertical screen height
    vh = vertical screen height

  Modifiers
    1 = 1st step in height scale
    2 = 2nd step in height scale
    3 = 3rd step in height scale
    4 = 4th step in height scale
    5 = 5th step in height scale
    6 = 6th step in height scale
    7 = 7th step in height scale
    8 = 8th step in height scale
    9 = 9th step in height scale
    10 = 10th step in height scale
    11 = 11st step in height scale
    12 = 12nd step in height scale
    13 = 13rd step in height scale
    14 = 14th step in height scale
    15 = 15th step in height scale
    16 = 16th step in height scale

    -25   = literal value 25%
    -50   = literal value 50%
    -75   = literal value 75%
    -100  = literal value 100%

    -auto = string value of auto
    -inherit = string value of inherit

  Media Query Extensions:
    -m  = 48em
    -l  = 64em

*/
.g-h1 { height: 0.25rem; }
.g-h2 { height: 0.5rem; }
.g-h3 { height: 0.75rem; }
.g-h4 { height: 1rem; }
.g-h5 { height: 1.25rem; }
.g-h6 { height: 1.5rem; }
.g-h7 { height: 1.75rem; }
.g-h8 { height: 2rem; }
.g-h9 { height: 2.25rem; }
.g-h10 { height: 2.5rem; }
.g-h11 { height: 3rem; }
.g-h12 { height: 4rem; }
.g-h13 { height: 5rem; }
.g-h14 { height: 8rem; }
.g-h15 { height: 13.75rem; }
.g-h16 { height: 16rem; }

					@media screen and (min-width: 48em) and (max-width: 64em) {
						.g-h1-m { height: 0.25rem; }
.g-h2-m { height: 0.5rem; }
.g-h3-m { height: 0.75rem; }
.g-h4-m { height: 1rem; }
.g-h5-m { height: 1.25rem; }
.g-h6-m { height: 1.5rem; }
.g-h7-m { height: 1.75rem; }
.g-h8-m { height: 2rem; }
.g-h9-m { height: 2.25rem; }
.g-h10-m { height: 2.5rem; }
.g-h11-m { height: 3rem; }
.g-h12-m { height: 4rem; }
.g-h13-m { height: 5rem; }
.g-h14-m { height: 8rem; }
.g-h15-m { height: 13.75rem; }
.g-h16-m { height: 16rem; }
					}
				

					@media screen and (min-width: 64em) {
						.g-h1-l { height: 0.25rem; }
.g-h2-l { height: 0.5rem; }
.g-h3-l { height: 0.75rem; }
.g-h4-l { height: 1rem; }
.g-h5-l { height: 1.25rem; }
.g-h6-l { height: 1.5rem; }
.g-h7-l { height: 1.75rem; }
.g-h8-l { height: 2rem; }
.g-h9-l { height: 2.25rem; }
.g-h10-l { height: 2.5rem; }
.g-h11-l { height: 3rem; }
.g-h12-l { height: 4rem; }
.g-h13-l { height: 5rem; }
.g-h14-l { height: 8rem; }
.g-h15-l { height: 13.75rem; }
.g-h16-l { height: 16rem; }
					}
				