
/*
  MAX WIDTHS
  Docs: http://tachyons.io/docs/layout/max-widths/

  Base:
    mw = max-width

  Modifiers:
    1 = 1st step in width scale
    2 = 2nd step in width scale
    3 = 3rd step in width scale
    4 = 4th step in width scale
    5 = 5th step in width scale
    6 = 6th step in width scale
    7 = 7th step in width scale
    8 = 8th step in width scale
    9 = 9th step in width scale
    10 = 10th step in width scale

    -100 = literal value 100%

    -none  = string value none

  Media Query Extensions:
    -s  = 20em
    -ns  = 40em
    -m  = 40em
    -l  = 64em
    -xl  = 80em
*/

.g-mw1 { max-width: 1rem; }
.g-mw2 { max-width: 2rem; }
.g-mw3 { max-width: 4rem; }
.g-mw4 { max-width: 8rem; }
.g-mw5 { max-width: 16rem; }
.g-mw6 { max-width: 32rem; }
.g-mw7 { max-width: 48rem; }
.g-mw8 { max-width: 64rem; }
.g-mw9 { max-width: 74.18rem; }
.g-mw10 { max-width: 96rem; }

					@media screen and (min-width: 20em) {
						.g-mw1-s { max-width: 1rem; }
.g-mw2-s { max-width: 2rem; }
.g-mw3-s { max-width: 4rem; }
.g-mw4-s { max-width: 8rem; }
.g-mw5-s { max-width: 16rem; }
.g-mw6-s { max-width: 32rem; }
.g-mw7-s { max-width: 48rem; }
.g-mw8-s { max-width: 64rem; }
.g-mw9-s { max-width: 74.18rem; }
.g-mw10-s { max-width: 96rem; }
					}
				

					@media screen and (min-width: 40em) {
						.g-mw1-ns { max-width: 1rem; }
.g-mw2-ns { max-width: 2rem; }
.g-mw3-ns { max-width: 4rem; }
.g-mw4-ns { max-width: 8rem; }
.g-mw5-ns { max-width: 16rem; }
.g-mw6-ns { max-width: 32rem; }
.g-mw7-ns { max-width: 48rem; }
.g-mw8-ns { max-width: 64rem; }
.g-mw9-ns { max-width: 74.18rem; }
.g-mw10-ns { max-width: 96rem; }
					}
				

					@media screen and (min-width: 40em) {
						.g-mw1-m { max-width: 1rem; }
.g-mw2-m { max-width: 2rem; }
.g-mw3-m { max-width: 4rem; }
.g-mw4-m { max-width: 8rem; }
.g-mw5-m { max-width: 16rem; }
.g-mw6-m { max-width: 32rem; }
.g-mw7-m { max-width: 48rem; }
.g-mw8-m { max-width: 64rem; }
.g-mw9-m { max-width: 74.18rem; }
.g-mw10-m { max-width: 96rem; }
					}
				

					@media screen and (min-width: 64em) {
						.g-mw1-l { max-width: 1rem; }
.g-mw2-l { max-width: 2rem; }
.g-mw3-l { max-width: 4rem; }
.g-mw4-l { max-width: 8rem; }
.g-mw5-l { max-width: 16rem; }
.g-mw6-l { max-width: 32rem; }
.g-mw7-l { max-width: 48rem; }
.g-mw8-l { max-width: 64rem; }
.g-mw9-l { max-width: 74.18rem; }
.g-mw10-l { max-width: 96rem; }
					}
				

					@media screen and (min-width: 80em) {
						.g-mw1-xl { max-width: 1rem; }
.g-mw2-xl { max-width: 2rem; }
.g-mw3-xl { max-width: 4rem; }
.g-mw4-xl { max-width: 8rem; }
.g-mw5-xl { max-width: 16rem; }
.g-mw6-xl { max-width: 32rem; }
.g-mw7-xl { max-width: 48rem; }
.g-mw8-xl { max-width: 64rem; }
.g-mw9-xl { max-width: 74.18rem; }
.g-mw10-xl { max-width: 96rem; }
					}
				