
/*
  TYPE SCALE
  Docs: http://tachyons.io/docs/typography/scale/

  Base:
    f = font-size

  Modifiers:
    1 = 1st step in size scale
    2 = 2nd step in size scale
    3 = 3rd step in size scale
    4 = 4th step in size scale
    5 = 5th step in size scale
    6 = 6th step in size scale
    7 = 7th step in size scale
    8 = 8th step in size scale
    9 = 9th step in size scale

  Media Query Extensions:
    -m  = 48em
    -l  = 64em
*/
.g-f1 { font-size: 0.75rem; }
.g-f2 { font-size: 0.875rem; }
.g-f3 { font-size: 1rem; }
.g-f4 { font-size: 1.25rem; }
.g-f5 { font-size: 1.5rem; }
.g-f6 { font-size: 2rem; }
.g-f7 { font-size: 2.25rem; }
.g-f8 { font-size: 2.5rem; }
.g-f9 { font-size: 5rem; }

					@media screen and (min-width: 48em) and (max-width: 64em) {
						.g-f1-m { font-size: 0.75rem; }
.g-f2-m { font-size: 0.875rem; }
.g-f3-m { font-size: 1rem; }
.g-f4-m { font-size: 1.25rem; }
.g-f5-m { font-size: 1.5rem; }
.g-f6-m { font-size: 2rem; }
.g-f7-m { font-size: 2.25rem; }
.g-f8-m { font-size: 2.5rem; }
.g-f9-m { font-size: 5rem; }
					}
				

					@media screen and (min-width: 64em) {
						.g-f1-l { font-size: 0.75rem; }
.g-f2-l { font-size: 0.875rem; }
.g-f3-l { font-size: 1rem; }
.g-f4-l { font-size: 1.25rem; }
.g-f5-l { font-size: 1.5rem; }
.g-f6-l { font-size: 2rem; }
.g-f7-l { font-size: 2.25rem; }
.g-f8-l { font-size: 2.5rem; }
.g-f9-l { font-size: 5rem; }
					}
				